.env
.DS_Store
.vscode
djl.ai/
extensions/
objcls_models/
qupath-extension-djl/
qupath-extension-stardist/
qupath-extension-wsinfer/
qupath-main/
regseg_models/
stardist_models/
DBSCAN-CellX/
prefs.xml
qupath-extension-qust.bak/
qust_scripts/gene2go
qupath-extension-qust-0.5.0 copy.jar
